{{ define "options" }}
<section class="basic_options">
    <label>
        Extension:
        <select hx-post="/check_options/extension"
                hx-trigger="change"
                hx-target="#options"
                name="extension">
            <option>Best</option>
            {{ range $key, $value := .extensions }}
            <option>{{ $key }}</option>
            {{ end }}
        </select>
    </label>
    <label>
        Resolution:
        <select name="resolution">
            <option>Best</option>
            {{ range $key, $value := .resolutions }}
            <option>{{ $key }}</option>
            {{ end }}
        </select>
    </label>
</section>
{{ end }}
