{{ define "options" }}
<section class="basic_options">
    <label>
        Extension:
        <select name="extension"></select>
    </label>
    <label>
        Resolution:
        <select name="resolution">
            <option>Best</option>
            {{ range $key, $value := .resolutions }}
            <option>{{ $key }}</option>
            {{ end }}
        </select>
    </label>
    <label>
        Audio Quality:
        <select name="audio_quality">
            <option>Best</option>
        </select>
    </label>
</section>
{{ end }}
