header,
main {
	margin-inline: auto;
	max-width: 90%;
}

.options {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 1rem;
}

.options>section {
	flex-grow: 2;
	border: 1px solid #2a3140;
	border-radius: 0.25rem;
	padding: 1rem;

	width: fit-content;
}

input.time-input {
	width: 6rem;
}

input.index-input {
	width: 6rem;
}

.big-progress {
	height: 2rem;
}
